<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%-include ('layout/header'); %>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%-include ('dashboard/preloader');%>
            <%-include ('dashboard/nav');%>
                <%-include ('dashboard/sidebar');%>
                    <div class="content-wrapper">
                        <%-include ('./components/amt/search');%>
                            <div style="margin-top:5%">
                                <%-include ('./components/amt/table');%>
                            </div>
                    </div>
                    <!-- Tabs content -->
                    <%-include ('dashboard/footer');%>
    </div>
    <%-include ('./components/amt/employee_detail_modal');%>
    <!-- jQuery -->
    <%-include ('layout/script');%>
    <%-include ('./scripts/amt/amtScript');%>
</body>

</html>