<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include ('layout/header'); %>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" onload="loaddata()">
  <div class="wrapper">
    <%-include ('dashboard/nav');%>
      <%-include ('dashboard/sidebar');%>
        <div class="content-wrapper">
          <div class="card">
            <%-include ('./components/home/sumaryWork');%>
          </div>
          <div class="card">
            <div class="col-12 mt-2">
              <div class="row">
                <div class="col-6">
                  <%-include ('./components/home/maintenancePlan');%>
                </div>
                <div class="col-6">
                  <%-include ('./components/home/requestAllocation');%>
                </div>
              </div> 
            </div>
          </div>
          <%-include ('dashboard/footer');%>
        </div>
  </div>
  
  <!-- jQuery -->
  <%-include ('./scripts/home/homeScript');%>
  <%-include ('layout/script');%>
</body>

</html>