<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include ('layout/header'); %>
</head>
<body onload="loaddata()" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <%-include ('dashboard/nav');%>
      <%-include ('dashboard/sidebar');%>
        <div class="content-wrapper">
         <%-include ('./components/issue/issueInfomation');%>
         <%-include ('./components/issue/search');%>
         <%-include ('./components/issue/table');%>
        </div>
        <%-include ('./components/issue/exelExport');%>
        <%-include ('dashboard/footer');%>
  </div>

  <%-include ('layout/script');%>
    <%-include ('scripts/issue/issueScript');%>
</body>
</html>