<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include ('layout/header'); %>
</head>
<body onload="loaddata()" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <%-include ('dashboard/nav');%>
      <%-include ('dashboard/sidebar');%>
        <div class="content-wrapper">
          <%-include ('./components/machine/search');%>
          <%-include ('./components/machine/table');%>
        </div>
        <%-include ('./components/machine/machineExpied');%>
        <%-include ('./components/machine/dowloadFile');%>
        <%-include ('./components/machine/machineInfomation');%>
        <%-include ('dashboard/footer');%>
  </div>

  <%-include ('layout/script');%>
    <%-include ('scripts/machine/machineScript');%>
</body>
</html>