<!doctype html>
<html lang="en">

<head>
  <%-include ('layout/header')%>
    <%-include ('./styles/machine/machineCss'); %>
</head>

<body onload="loaddata()">
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <%-include ('./components/machine/machineHeader') %>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <%-include ('layout/menu'); %>
      </div>


      <main class="mdl-layout__content mdl-color--grey-100">
        <%-include ('./components/machine/search') %>
          <div
            style="height: 700px; background-color: rgb(255, 255, 255); margin-top: 3px; border: solid 1px rgb(255, 255, 255) ;">
            <div class="tableFixHead">
              <div class="page-content" style=" margin-top: 0px;">
                <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                <%-include ('./components/machine/table') %>
              </div>
            </div>
          </div>
          <div class="w3-container">
            <div style="margin-top: 0px;" id="id01" class="w3-modal">
              <div style="width: 1200px; height: 700px ; margin-left: 370px;border: solid 3px blueviolet;"
                class="w3-modal-content">
                <div style="width: 100%; height: 100%;" class="w3-container">
                  <span style="font-size: 25px;margin-right: 5px;"
                    onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>

                  <div class="modal-header">
                    <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;" id="namebox"></h5>
                  </div>
                  <div class="w3-bar w3-black" style="background-color: rgb(212, 212, 212)!important;font-size: 15px;"
                    id="bar">
                    <a class="w3-bar-item w3-button is-active" id="informac"><i class="fa fa-folder"></i> Thông tin
                      chung</a>
                    <a class="w3-bar-item w3-button" id="maitmac"><i class="fa fa-bars"></i> Bảo trì</a>
                    <a class="w3-bar-item w3-button" id="operamac"><i class="fa fa-opera"></i> Vận hành</a>
                  </div>
                  <div id="informacc">
                    <div class="col-sm-4 " style="margin-top: 10px;">
                      <div class="container" action="CCS/Upload_New_PR" id="upload_form" method="POST">

                        <div class="wrapper">
                          <div class="image">
                            <img id="output">
                          </div>
                        </div>
                        <p><input type="file" name="image" id="file" onchange="loadFile(event)" style="display: none;"
                            accept="image/png, image/gif, image/jpeg"></p>
                        <p><label for="file" style="cursor: pointer;" id="custom-btn">Upload Image</label></p>

                      </div>
                    </div>
                    <div class="col-sm-8 " style="margin-top:5px;">
                      <div id="codeneww">
                        <div class="col-10">
                          <p class="modal-title" for="idpare"
                            style="color: #7c4abe;font-weight: bold; height: 10px;width: 200px;">TÊN THIẾT BỊ </p>
                        </div>
                        <div class="col-90"">
                                    <input aria-required=" true"
                          style=" width:600px; min-height: 10px;text-align: center; margin: auto;" type="text"
                          id="codenew" class="form-control">
                        </div>
                      </div>
                      <div class="col-10">
                        <p class="modal-title" for="idpare"
                          style="color: #7c4abe;font-weight: bold; height: 10px;width: 200px;">MÔ TẢ </p>
                      </div>
                      <div class="col-90"">
                                  <input aria-required=" true"
                        style=" width:600px; min-height: 10px;text-align: center; margin: auto;" type="text" id="des"
                        class="form-control">
                      </div>
                      <div id="namemach">
                        <div class="col-auto">
                          <p class="modal-title" style="color: #7c4abe;font-weight: bold;margin-left: -30px;">LOẠI THIẾT
                            BỊ</p>
                        </div>
                        <div class="col-autoo"><input aria-required="true"
                            style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -50px;"
                            type="text" id="namemac" class="form-control"></div>

                        <div class="col-auto">
                          <p class="modal-title" style="color: #7c4abe;font-weight: bold; margin-left: 0px;">TÊN CŨ</p>
                        </div>
                        <div class="col-autoo"><input aria-required="true"
                            style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -10px;"
                            type="text" id="codeold" class="form-control"></div>
                      </div>
                      <div class="col-auto">
                        <p class="modal-title" style="color: #7c4abe;font-weight: bold;margin-left: -30px;">NHÀ MÁY</p>
                      </div>
                      <div class="col-autoo"><input aria-required="true"
                          style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -50px;"
                          type="text" id="plant" class="form-control"></div>
                      <div class="col-auto">
                        <p class="modal-title" style="color: #7c4abe;font-weight: bold; margin-left: 0px;">VỊ TRÍ</p>
                      </div>
                      <div class="col-autoo"><input aria-required="true"
                          style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -10px;"
                          type="text" id="pos" class="form-control"></div>
                      <div class="col-auto">
                        <p class="modal-title" style="color: #7c4abe;font-weight: bold;margin-left: -30px;">BẮT ĐẦU</p>
                      </div>
                      <div class="col-autoo"><input aria-required="true"
                          style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -50px;"
                          type="text" id="start" class="form-control"></div>
                      <div class="col-auto">
                        <p class="modal-title" style="color: #7c4abe;font-weight: bold; margin-left: 0px;">KẾT THÚC</p>
                      </div>
                      <div class="col-autoo"><input aria-required="true"
                          style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -10px;"
                          type="text" id="finish" class="form-control"></div>
                      <!-- <div class="col-auto"><p class="modal-title" style="color: #7c4abe;font-weight: bold; margin-left: 0px;">KẾT THÚC</p></div>
                                <div class="col-autoo"><input  aria-required="true" style=" width:200px; min-height: 10px;text-align: center; margin: auto;margin-left: -10px;" type="text" id="finish" class="form-control"></div> -->
                    </div>
                    <br><br>
                    <div style="margin-top:0px;">
                      <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 60px;">TRẠNG
                        THÁI</p>
                      <input aria-required="true"
                        style=" width:340px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                        type="text" id="status" class="form-control col-90">
                      <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 70px;">SỐ SERI
                      </p>
                      <input aria-required="true"
                        style=" width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                        type="text" id="seri" class="form-control col-90">
                      <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 60px;">MODEL
                      </p>
                      <input aria-required="true"
                        style=" width:935px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                        type="text" id="model" class="form-control col-90">
                      <p class="modal-title col-10"
                        style="color: #7c4abe;font-weight: bold; margin-left: 70px;display: none;">HỆ THỐNG</p>
                      <input aria-required="true"
                        style=" width:400px; min-height: 10px;text-align: center;display: none; margin: auto; margin-top: 26px;margin-left: 10px;"
                        type="text" id="system" class="form-control col-90">
                    </div>
                  </div>

                  <div id="informaint">
                    <div class="tableFixHeaddd">
                      <div class="page-content">
                        <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                        <table class="tablea" id="tablemaint" style="width:98%; margin: auto;"
                          onclick="detail_ticket()">
                          <thead>
                            <tr>
                              <th style="text-align: center;width: 20px !important;">STT</th>
                              <th style="text-align: center;width: 200px;">CHU KỲ BẢO DƯỠNG</th>
                              <th style="text-align: center;width: 200px;">THỜI GIAN</th>
                              <th style="text-align: center;width: 160px;">NGƯỜI BẢO DƯỠNG</th>
                              <th style="text-align: center;width: 100px;">TÌNH TRẠNG</th>
                            </tr>
                          </thead>
                          <tbody style="text-align: left;">
                          </tbody>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div id="inforope">
                    <h5 style="margin-left: 15px;">Lịch sử sự cố</h5>
                    <div class="tableFixHead">
                      <div class="page-content" style=" margin-top: 0px;">
                        <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                        <table class="tablea" id="tableope" style="width:98%; margin: auto;" onclick="detail_ticket()">
                          <thead>
                            <tr>
                              <th style="text-align: center;width: 20px !important;">STT</th>
                              <th style="text-align: center;width: 200px;">YÊU CẦU CÔNG VIỆC</th>
                              <th style="text-align: center;width: 100px;">THỜI GIAN</th>

                              <th style="text-align: center;width: 160px;">NGƯỜI XỬ LÝ</th>
                              <th style="text-align: center;width: 100px;">HÀNH ĐỘNG</th>
                              <th style="text-align: center;width: 100px;">GHI CHÚ</th>
                            </tr>
                          </thead>
                          <tbody style="text-align: left;">
                          </tbody>
                          </thead>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer" style="margin-top: -60px; width: 98%;margin-left: 10px;">
                  <div id="nameupdate">
                    <div class="col-xs-12 col-sm-4 col-md-4 ">
                      <h6 class="modal-title" style="color: #7c4abe; width:500px; text-align: left ;margin-left: -20px;"
                        id="timeupdate"></h6>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 ">
                      <h6 class="modal-title" style="color: #7c4abe; width:500px; text-align: left ;margin-left: -20px;"
                        id="userupdate"></h6>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-2 ">
                    <div id="boxnormal" style="margin-top: -20px;">
                      <button class="btn" id="btcopy"><i class="fa fa-copy"></i> Sao chép</button>
                    </div>
                  </div>
                  <!-- <h5 >"Nhập tên thiết bị, tên cũ, vị trí, số seri"</h5> -->
                  <div class="col-xs-12 col-sm-4 col-md-2 ">
                    <!-- <div id="boxnormal" style="margin-top: -20px;"> 
                              <button class="btn" id="btcopy"><i class="fa fa-copy"></i> Sao chép</button>
                            </div>  -->
                    <div id="boxnormall" style="margin-top: -20px;">
                      <!-- <button class="btn" id="btcopy"><i class="fa fa-copy"></i> Sao chép</button> -->
                      <button class="btn" id="btdelete"><i class="fa fa-times"></i> Xóa</button>
                      <button class="btn" id="btsave"><i class="fa fa-save"></i> Lưu</button>
                    </div>
                    <div id="boxadd" style="margin-top: -20px;">
                      <button class="btn" id="btsavee"><i class="fa fa-save"></i> Lưu</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="w3-container">
            <div style="margin-top: 20px;" id="id02" class="w3-modal">
              <div style="width: 1200px; min-height: 400px ;max-height:700px;border: solid 3px blueviolet;"
                class="w3-modal-content">
                <div style="width: 100%; height: 100%;" class="w3-container">
                  <span style="font-size: 25px;margin-right: 5px;"
                    onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright"
                    style="font-size: 35px; margin-top: 10px;margin-right: 10px;">&times;</span>
                  <div class="modal-header">
                    <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;">Thông tin máy đã hết hạn</h5>
                  </div>
                  <div class="tableFixHeadd">
                    <div class="page-content" style=" margin-top: 0px;">
                      <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;"></div>
                      <table class="tablea" id="tableb" style="width:99%; margin: auto;">
                        <thead>
                          <tr>
                            <th style="text-align: center;width: 200px !important;">TÊN THIẾT BỊ</th>
                            <th style="text-align: center;width: 150px;">TÊN CŨ</th>
                            <th style="text-align: center;width: 100px;">LOẠI THIẾT BỊ</th>

                            <th style="text-align: center;width: 160px;">ẢNH</th>
                            <th style="text-align: center;width: 100px;">NHÀ MÁY</th>
                            <th style="text-align: center;width: 200px;">VỊ TRÍ</th>
                            <th style="text-align: center;width: 100px;">TRẠNG THÁI</th>
                            <th style="text-align: center;width: 200px;">MODEL</th>
                            <th style="text-align: center;width: 100px;">SỐ SERI</th>
                            <th style="text-align: center;width: 150px;">START</th>
                            <th style="text-align: center;width: 150px;">FINISH</th>
                            <th style="text-align: center;width: 150px;">TIMEUPDATE</th>
                            <th style="text-align: center;width: 150px;">USER</th>
                          </tr>
                        </thead>
                        <tbody style="text-align: left;">
                        </tbody>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w3-container">
            <div id="id03" class="w3-modal">
              <div style="width: 1000px; height: 250px ;border: solid 3px blueviolet;" class="w3-modal-content">
                <div style="width: 100%; height: 100%;" class="w3-container">
                  <span style="font-size: 25px;margin-right: 5px;"
                    onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-display-topright"
                    style="font-size: 35px; margin-top: 10px;margin-right: 10px;">&times;</span>
                  <div class="modal-header">
                    <h5 class="modal-title" style="color: #7c4abe ; font-weight: bold;">Tải file excel</h5>
                  </div>
                  <!-- <div style="margin:auto ;width: 1000px; height: 100px; margin-top: 100px;" class="demo-card-square mdl-card mdl-shadow--2dp"> -->
                  <div class="mdl-card__title mdl-card--expand">
                    <form style="margin:auto ;width: 900px; " action="CCS/Upload_New_PRR" id="upload_formm"
                      method="POST" enctype="multipart/form-data">
                      <!-- <legend style="background-color: #46B6AC;">Upload file</legend> -->
                      <div class="form-group">
                        <label for="">File</label>
                        <input style="height: auto;" type="file" class="form-control" name="files" id='filee'>
                      </div>
                      <button id='submit' type="submit" class="btn btn-primary">UPLOAD</button>
                      <div></div>
                    </form>
                    <!-- </div> -->
                    <div class="loader" id="loadd" style="display: none; margin: auto;margin-top: 100px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
  </div>
  </main>
  <%-include ('./scripts/machine/machineScript'); %>
</body>

</html>