<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include ('layout/header'); %>
    <!-- <%-include ('./styles/wo/woCss'); %> -->
</head>

<body onload="loaddata()" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  onload="loaddata()">
  <div class="wrapper">
    <%-include ('dashboard/preloader');%>
    <%-include ('dashboard/nav');%>
      <%-include ('dashboard/sidebar');%>
        <div class="content-wrapper">
            <%-include ('./components/wo/search'); %>
          <%-include ('./components/wo/layoutHeader');%>
        
            <div class="tab-content">
              <div id="main-tabs" style="display:block">
                <%- include ('./components/wo/routineMaintenance');%>
              </div>
              <div id="service-tabs" style = "display:none">
                <%- include ('./components/wo/serviceRequest');%>
              </div>
            </div>
        </div>
        <%-include ('./components/wo/addWork');%>
          <%-include ('./components/wo/addRequest');%>
            <%-include ('dashboard/footer');%>
  </div>

  <%-include ('layout/script');%>
    <%-include ('./scripts/wo/woScript');%>
</body>

</html>