<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include ('layout/header'); %>
    <!-- <%-include ('./styles/wo/woCss'); %> -->
</head>

<body onload="loaddata()" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  onload="loaddata()">
  <div class="wrapper">
    <%-include ('dashboard/nav');%>
      <%-include ('dashboard/sidebar');%>
        <div class="content-wrapper">
            <%-include ('./components/wo/search'); %>
          <%-include ('./components/wo/layoutHeader');%>
        
            <div class="tab-content" id="ex2-content">
              <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                <%- include ('./components/wo/routineMaintenance');%>
              </div>
              <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                <%- include ('./components/wo/serviceRequest');%>
              </div>
            </div>
        </div>
        <%-include ('./components/wo/addWork');%>
          <%-include ('./components/wo/addRequest');%>
            <%-include ('dashboard/footer');%>
  </div>

  <%-include ('layout/script');%>
    <%-include ('./scripts/wo/woScript');%>
</body>

</html>