<!doctype html>
<html lang="en">

<head>
    <!-- include styles css -->
    <%- include('layout/header'); %>
        <%- include('./styles/work/workCss'); %>
            <!-- <style>
        .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
            margin-left: 240px;
            width: calc(100% - 240px);
            margin-left: 0px !important;
            /* margin-left: 100px !important; */
            width: 100%;
        }
        
        .btn {
            background-color: DodgerBlue;
            /* border: none; */
            color: white;
            padding: 8px 16px;
            margin-top: 12px;
            cursor: pointer;
            border-radius: 0px/0px;
        }
        
        .btn:hover {
            background-color: RoyalBlue;
        }
        
        .col-901 {
            float: left;
            width: 100%;
            margin-top: 26px;
        }
        
        .btnn {
            background-color: rgb(255, 255, 255);
            border: solid 1px rgb(170, 170, 170);
            /* border: none; */
            color: rgb(0, 0, 0);
            padding: 2px 5px;
            /* margin-top:18px; */
            cursor: pointer;
            border-radius: 0px/0px;
            width: 100%;
            margin: 2px 0px 0px 0px;
            text-align: left;
            /* margin-left: 10px; */
        }
        /* .btnn:hover {
                background-color: #ddd;
            } */
        
        .btnnn {
            background-color: rgb(255, 255, 255);
            border: solid 0px white;
            color: rgb(0, 0, 0);
            cursor: pointer;
            text-align: left;
            /* border-radius: 0px/0px; */
            width: 100%;
        }
        
        .btnnn:hover {
            background-color: rgb(216, 216, 216);
        }
        
        .form1 {
            height: 200px;
        }
        
        .col-10 {
            float: left;
            width: 10%;
            margin-top: 32px;
        }
        
        .col-15 {
            float: left;
            width: 14%;
            margin-top: 32px;
        }
        
        .col-1 {
            float: left;
            width: 40%;
        }
        
        .col-2 {
            float: left;
            width: 20%;
        }
        /* 
        .col-3 {
        float: left;
        width: 20%;
        } */
        
        .col-90 {
            float: left;
            width: 90%;
            margin-top: 26px;
        }
        
        .col-85 {
            float: left;
            width: 86%;
            margin-top: 26px;
        }
        
        .col-auto {
            float: left;
            min-width: 50px;
            margin-left: 30px;
            margin-top: 22px;
        }
        
        .col-aut1 {
            min-width: 800px;
            margin-left: 30px;
            margin-top: 26px;
            clear: left;
        }
        
        .col-autoo {
            float: left;
            margin-left: 10px;
            min-width: 100px;
            margin-top: 15px;
            margin-left: 30px;
        }
        
        .container {
            height: 200px;
            width: 300px;
            position: relative;
            margin-top: 15px;
        }
        
        .container .wrapper {
            position: relative;
            height: 200px;
            width: 300;
            border-radius: 5px;
            background: #fff;
            border: 2px dashed #c2cdda;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        
        .wrapper.active {
            border: none;
        }
        
        .wrapper .image {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .wrapper img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        .container #custom-btn {
            text-align: center;
            margin-top: -15px;
            display: block;
            width: 100%;
            height: 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
        }
        
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        
        .left {
            float: left;
            width: 15%;
            /* margin-top: 5px; */
            border: solid 1px rgb(255, 255, 255);
        }
        
        .right {
            float: left;
            width: 85%;
            /* margin-top: 5px; */
            border: solid 1px rgb(248, 248, 248);
        }
        
        html,
        body {
            font-family: 'Roboto', 'Helvetica', sans-serif;
        }
        
        .demo-avatar {
            width: 48px;
            height: 48px;
            border-radius: 24px;
        }
        
        .demo-layout .mdl-layout__header .mdl-layout__drawer-button {
            color: rgba(0, 0, 0, 0.54);
        }
        
        .mdl-layout__drawer .avatar {
            margin-bottom: 16px;
        }
        
        .demo-drawer {
            border: none;
            width: 250px;
            /* width: 250px; đổi */
        }
        
        .demo-drawer .mdl-menu__container {
            z-index: -1;
        }
        
        .demo-drawer .demo-navigation {
            z-index: -2;
        }
        /* END iOS Safari specific workaround */
        
        .demo-drawer .mdl-menu .mdl-menu__item {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .demo-drawer-header {
            box-sizing: border-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 16px;
            height: 151px;
        }
        
        .demo-avatar-dropdown {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
        }
        
        .demo-navigation {
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
        
        .demo-layout .demo-navigation .mdl-navigation__link {
            display: -webkit-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            color: rgba(255, 255, 255, 0.56);
            font-weight: 500;
        }
        
        .demo-layout .demo-navigation .mdl-navigation__link:hover {
            background-color: #00BCD4;
            color: #37474F;
        }
        
        .demo-navigation .mdl-navigation__link .material-icons {
            font-size: 24px;
            color: rgba(255, 255, 255, 0.56);
            margin-right: 32px;
            margin-left: -15px;
        }
        
        .demo-content {
            max-width: 1080px;
        }
        
        .demo-charts {
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        .demo-chart:nth-child(1) {
            color: #ACEC00;
        }
        
        .demo-chart:nth-child(2) {
            color: #00BBD6;
        }
        
        .demo-chart:nth-child(3) {
            color: #BA65C9;
        }
        
        .demo-chart:nth-child(4) {
            color: #EF3C79;
        }
        
        .demo-graphs {
            padding: 16px 32px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
        }
        
        _:-ms-input-placeholder,
         :root .demo-graphs {
            min-height: 664px;
        }
        
        _:-ms-input-placeholder,
         :root .demo-graph {
            max-height: 300px;
        }
        /* TODO end */
        
        .demo-graph:nth-child(1) {
            color: #00b9d8;
        }
        
        .demo-graph:nth-child(2) {
            color: #d9006e;
        }
        
        .demo-cards {
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
        }
        
        .demo-cards .demo-separator {
            height: 32px;
        }
        
        .demo-cards .mdl-card__title.mdl-card__title {
            color: white;
            font-size: 24px;
            font-weight: 400;
        }
        
        .demo-cards ul {
            padding: 0;
        }
        
        .demo-cards h3 {
            font-size: 1em;
        }
        
        .demo-updates .mdl-card__title {
            min-height: 200px;
            background-image: url('images/dog.png');
            background-position: 90% 100%;
            background-repeat: no-repeat;
        }
        
        .demo-cards .mdl-card__actions a {
            color: #00BCD4;
            text-decoration: none;
        }
        
        .demo-options h3 {
            margin: 0;
        }
        
        .demo-options .mdl-checkbox__box-outline {
            border-color: rgba(255, 255, 255, 0.89);
        }
        
        .demo-options ul {
            margin: 0;
            list-style-type: none;
        }
        
        .demo-options li {
            margin: 4px 0;
        }
        
        .demo-options .material-icons {
            color: rgba(255, 255, 255, 0.89);
        }
        
        .demo-options .mdl-card__actions {
            height: 64px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            box-sizing: border-box;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        
        element.style {
            position: absolute;
            left: 259px;
            width: 249px;
            top: 491px;
        }
        
        .fc-ltr .fc-event-hori.fc-event-end,
        .fc-rtl .fc-event-hori.fc-event-start {
            border-right-width: 1px;
        }
        
        .fc-ltr .fc-event-hori.fc-event-start,
        .fc-rtl .fc-event-hori.fc-event-end {
            border-left-width: 1px;
        }
        
        .fc-event.success {
            background-color: #BEFFBF;
        }
        
        a.fc-event {
            text-decoration: none;
        }
        
        .fc-event-hori {
            border-width: 1px 0;
            margin-bottom: 1px;
        }
      
        .fc-event-container>* {
            z-index: 8;
        }
        
        user agent stylesheet a:-webkit-any-link {
            color: -webkit-link;
            cursor: pointer;
            text-decoration: underline;
        }
        
        .collapse.in {
            overflow-y: auto;
            display: block;
            min-height: 85px;
            max-height: 185px;
        }
        
        .mdl-layout__content {
            overflow-y: hidden;
        }
        
        .btn-primary.is
    </style> -->
</head>

<body onload="loaddata()">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <%-include ('./components/work/workHeader') %>
            <div class="alert hidden" id="alertok">
                <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
                <strong id="contenalert"></strong>
            </div>
            <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
                <%-include ('layout/menu'); %>
            </div>

            <main class="mdl-layout__content mdl-color--grey-100">
                <%-include ('./components/work/miniMenuWork'); %>
                    <%-include ('./components/work/search'); %>
                        <div class="col-85"
                            style="height: 740px ; background-color: rgb(255, 255, 255);margin-top: 0px;  border: solid 1px rgb(170, 170, 170) ;">
                            <div class="tableFixHead">
                                <div class="page-content" style=" margin-top: 3px;margin-left: 0px;">
                                    <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;">
                                    </div>
                                    <table id="tablea" class="tablea" style="width:99%; margin: auto;"
                                        onclick="detail_ticket()">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;width: 100px;" rowspan="2">MÃ CÔNG VIỆC
                                                </th>
                                                <th style="text-align: center;width: 200px;" rowspan="2">CÔNG VIỆC</th>
                                                <!-- <th style="text-align: center;width: 200px;" rowspan="2">NỘI DUNG CÔNG VIỆC</th> -->
                                                <th style="text-align: center;width: 210px;" colspan="2">THỜI GIAN THỰC
                                                    HIỆN</th>
                                                <th style="text-align: center;width: 100px;" rowspan="2">NGƯỜI GIAO</th>
                                                <th style="text-align: center;width: 180px;" rowspan="2">NGƯỜI NHẬN</th>
                                                <th style="text-align: center;width: 50px;" rowspan="2">TRẠNG THÁI</th>
                                                <th style="text-align: center;width: 50px;" rowspan="2">TIẾN ĐỘ</th>
                                                <!-- <th style="text-align: center;width: 5px;" rowspan="2">IN</th> -->
                                            </tr>
                                            <tr>
                                                <th style="text-align: center;width: 100px;">BẮT ĐẦU</th>
                                                <th style="text-align: center;width: 100px;">KẾT THÚC</th>
                                            </tr>

                                        </thead>
                                        <tbody style="text-align: left;">
                                        </tbody>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
    </div>
    <div class="w3-container">
        <div id="id01" class="w3-modal">
            <div style=" width: 1300px; min-height: 700px ;margin-top: 0px; border: solid 3px blueviolet;"
                class="w3-modal-content">
                <div style="width: 100%; height: 100%;" class="w3-container">
                    <span style="font-size: 25px;margin-right: 5px;"
                        onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <div class="modal-header">
                        <h3 class="modal-title" style="color: #7c4abe ; font-weight: bold;">Thông tin công việc</h3>
                    </div style="border-box: solid 1px red">
                    <div style="margin-top: 0px;">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Mã
                            yêu cầu</p>
                        <input aria-required="true"
                            style=" width:300px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                            type="text" id="idreqq" class="form-control col-90">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Loại
                            công việc</p>

                        <input id="mail" style="display: none;">
                        <div><select list="typeq" aria-required="true"
                                style=" width:220px; min-height: 10px;text-align: left;" type="text" id="typework"
                                class="form-control col-90">
                                <option>Bảo dưỡng định kỳ</option>
                                <option>Sửa chữa</option>
                                <option>Dịch vụ</option>
                            </select></div>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 30px;">Trạng
                            thái</p>
                        <div><select id="statuswork" style="color: rgb(0, 0, 0);width: 200px;"
                                class="form-control col-90">
                                <option>Chưa phân công</option>
                                <option>Đang thực hiện</option>
                                <option>Hoàn thành</option>
                            </select>
                        </div>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Tên
                            công việc</p>
                        <input aria-required="true"
                            style=" width:1050px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                            type="text" id="namework" class="form-control col-90">
                        <!-- <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 25px;">Tiến độ thực hiện</p>
                          <div class="progress col-10">
                            <div id="process" class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" >
                                <span style="display:none;" id="stprocess" style="text-align: center;">100% hoàn thành</span>
                            </div>
                          </div>
                      -->
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Ngày
                            bắt đầu</p>
                        <input class="col-autoo form-control" type="date" id="datestart" name="birthday"
                            style="width: 300px;margin-left: 0px;">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Ngày
                            hoàn thành</p>
                        <input class="col-autoo form-control" type="date" id="durawork" name="birthday"
                            style="width:300px;margin-left: 0px;">
                        <input type="text" id="cyclehide" style="display: none;">
                        <input type="text" id="objshide" style="display: none;">
                        <input type="text" id="datehide" style="display: none;">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 800px;"></p>
                        <input aria-required="true"
                            style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                            type="text" id="hideeq" class="form-control col-90">
                        <input aria-required="true"
                            style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                            type="text" id="hidedate" class="form-control col-90">
                        <input aria-required="true"
                            style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                            type="text" id="hidecycle" class="form-control col-90">
                    </div>

                    <div class="w3-bar w3-black"
                        style="color: blueviolet; background-color: rgb(161, 161, 161)!important;font-size: 15px; border: solid 1px blueviolet; margin-top: 20px!important ;">
                        <a class="w3-bar-item w3-button is-active" id="bt1"><i class="fa fa-folder"></i> Thông tin
                            chung</a>
                        <a class="w3-bar-item w3-button" id="bt2"><i class="fa fa-bars"></i> Thông tin liên quan</a>
                        <a class="w3-bar-item w3-button" id="bt3"><i class="fa fa-check"></i> Đánh giá</a>
                    </div>
                    <div id="tb1"
                        style=" margin-top: 0px; border-left: solid 1px rgb(218, 218, 218);border-bottom: solid 1px rgb(218, 218, 218);border-right: solid 1px rgb(218, 218, 218);height: 300px;">
                        <div id="boxprogress">
                            <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">
                                Tiến độ công việc</p>
                            <input id="progress" type="range" class="col-90" style="width:420px;margin-top: 35px;"
                                oninput="progresss()">
                            <p id="disprogress" class="modal-title col-10"
                                style="color: #7c4abe;font-weight: bold; margin-left: 10px;margin-top: 30px;font-size: 20px;">
                                0%</p>
                            <br></br>
                        </div>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Người
                            thực hiện</p>
                        <input oninput="myFunction()" list="listnamest" aria-required="true"
                            style=" width:420px; min-height: 10px;text-align: left; margin: auto;margin-top: 26px; "
                            type="text" id="staffwork" class="form-control col-90" autocomplete="off">
                        <datalist style="height: 10px !important;overflow-y: auto!important" id="listnamest">
                            <%-name3%>
                        </datalist>
                        <!-- <input list="listnamesp" aria-required="true" style=" width:580px; min-height: 10px;text-align: left; margin: auto;margin-top: 26px; " type="text" id="listipart" class="form-control col-90" onchange="detectqty()">
                        <datalist style="height: 10px !important;overflow-y: auto!important" id="listnamesp"><%-name1%></datalist> -->
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Mức
                            độ ưu tiên</p>
                        <div><select oninput="myFunction()" id="leverecc" style="color: rgb(0, 0, 0);width: 420px;"
                                class="form-control col-90">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">
                            Nguyên nhân</p>
                        <textarea oninput="myFunction()" aria-required="true"
                            style=" width:420px; min-height: 70px;text-align: center; margin: auto; margin-top: 26px;margin-left: 0px;"
                            type="text" id="reason" class="form-control col-90"> </textarea>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Giải
                            pháp</p>
                        <textarea oninput="myFunction()" aria-required="true"
                            style=" width:420px; min-height: 70px;text-align: center; margin: auto; margin-top: 26px;margin-left: 0px;"
                            type="text" id="solution" class="form-control col-90"> </textarea>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Ghi
                            chú</p>
                        <textarea oninput="myFunction()" aria-required="true"
                            style=" width:1015px; min-height: 50px;text-align: center; margin: auto; margin-top: 26px;margin-left: 0px;"
                            type="text" id="note" class="form-control col-90"> </textarea>
                    </div>
                    <div id="tb2"
                        style=" margin-top: 0px; border-left: solid 1px rgb(218, 218, 218);border-bottom: solid 1px rgb(218, 218, 218);border-right: solid 1px rgb(218, 218, 218);min-height: 300px;">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Tên
                            phụ tùng</p>
                        <!-- <input  aria-required="true" style=" width:580px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;" type="text" id="d" class="form-control col-90">                                       -->
                        <input list="listnamesp" aria-required="true"
                            style=" width:580px; min-height: 10px;text-align: left; margin: auto;margin-top: 26px; "
                            type="text" id="listipart" class="form-control col-90" onchange="detectqty()">
                        <datalist style="height: 10px !important;overflow-y: auto!important" id="listnamesp">
                            <%-nameesp%>
                        </datalist>
                        <!-- <div class="autocomplete col-autoo" style="width:580px;margin-left: -0px;margin-top: 25px; color: rgb(0, 0, 0);"><input autocomplete="off" style="text-align: center;" class="form-control" id="listipart" type="text" onchange="detectqty()"></div> -->
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Số
                            lượng trong kho</p>
                        <input aria-required="true"
                            style=" width:110px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 50px;"
                            type="text" id="qty_inhere" class="form-control col-90" readonly>
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Mã
                            phụ tùng</p>
                        <input aria-required="true"
                            style=" width:580px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                            type="text" id="idpart" class="form-control col-90">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Số
                            lượng yêu cầu</p>
                        <input aria-required="true"
                            style=" width:110px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 50px;"
                            type="text" id="qty_req" class="form-control col-90">
                        <button class="btn col-10"
                            style=" background-color: #9d6fda; margin-left: 20px;margin-top: 25px;" id="btspare"><i
                                class="fa fa-plus"></i> Thêm</button>

                        <div class="tableFixHeadd col-901">
                            <div class="page-content" style=" margin-top:10px;">
                                <div class="loader" id="load" style="display: none; margin: auto;margin-top: 0px;">
                                </div>
                                <table id="tableb" class="tablea" style="width:100%; margin: auto;"
                                    onclick="detail_ticket1()">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;width: 100px;">Mã phụ tùng</th>
                                            <th style="text-align: center;width: 300px;">Tên phụ tùng</th>
                                            <th style="text-align: center;width: 10px;">Số lượng yêu cầu</th>
                                            <th style="text-align: center;width: 10px;">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: left;">
                                    </tbody>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div id="tb3"
                        style=" margin-top: 0px; border-left: solid 1px rgb(218, 218, 218);border-bottom: solid 1px rgb(218, 218, 218);border-right: solid 1px rgb(218, 218, 218);height: 300px;">
                        <p class="modal-title col-10" style="color: #7c4abe;font-weight: bold; margin-left: 35px;">Chất
                            lượng</p>
                        <div><select id="quality" style="color: rgb(0, 0, 0);width: 420px;" class="form-control col-90">
                                <option> </option>
                                <option>Rất hài lòng</option>
                                <option>Hài lòng</option>
                                <option>Bình thường</option>
                                <option>Thất vọng</option>
                                <option>Rất thất vọng</option>
                            </select>
                        </div>
                        <br></br>
                        <p class="modal-title col-10"
                            style="color: #7c4abe;font-weight: bold; margin-left: 35px; float: none;">Nhận xét</p>
                        <textarea aria-required="true"
                            style=" width:1190px; min-height: 150px;text-align: center; margin: auto; margin-top: 26px;margin-left: 35px;float: left;"
                            type="text" id="comment" class="form-control col-90"> </textarea>
                    </div>
                    <div class="modal-footer" style="margin-top: 10px; width: 98%;margin-left: 10px;">
                        <div><button class="btn" id="btsend" onclick="Send()"
                                style="margin-top: 0px;margin-left: 935px;float: left !important;background-color: #32a536;"><i
                                    class="fa fa-arrow-up"></i> Chuyển</button></div>
                        <div><button class="btn" id="btsave1" style="margin-top: 0px;float:right !important;"><i
                                    class="fa fa-save"></i> Lưu</button></div>
                        <div><button class="btn" id="btsave2" style="margin-top: 0px;float:right !important;"><i
                                    class="fa fa-save"></i> Lưu</button></div>
                        <div><button class="btn" id="btsave3" style="margin-top: 0px;float: right;"><i
                                    class="fa fa-save"></i> Lưu</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="w3-container" style="position: absolute !important;z-index: 9999;">
        <div id="id02" class="w3-modal" style="width: 100%; height: 100%;">
            <div style="width: 1300px; min-height: 600px ;max-height: 850px ;margin-top: 0px; border: solid 3px blueviolet;"
                class="w3-modal-content">
                <div style="width: 100%; height: 100%;" class="w3-container">
                    <span style="font-size: 25px;margin-right: 5px;"
                        onclick="document.getElementById('id02').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <div class="modal-header">
                        <h3 class="modal-title" style="color: #7c4abe ; font-weight: bold;">Yêu cầu</h3>
                    </div>
                    <div>
                        <fieldset style="margin-top: 20px;">
                            <legend>Thông tin người yêu cầu</legend>
                            <div style="margin-top: -30px;">
                                <input aria-required="true"
                                    style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                                    type="text" id="idreq" class="form-control col-90">
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Bộ phận yêu cầu</p>
                                <input aria-required="true"
                                    style=" width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                                    type="text" id="departreq" class="form-control col-90">
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 75px;">Người yêu cầu</p>
                                <input aria-required="true"
                                    style=" width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                                    type="text" id="staffreq" class="form-control col-90">
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Email</p>
                                <input aria-required="true"
                                    style=" width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;"
                                    type="text" id="emailreq" class="form-control col-90">
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 75px;">SDT</p>
                                <input aria-required="true"
                                    style=" width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                                    type="text" id="pnum" class="form-control col-90">
                            </div>
                        </fieldset>
                        <fieldset style="margin-top: 25px;">
                            <legend>Thông tin yêu cầu</legend>
                            <div style="margin-top: -30px;">
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Loại yêu cầu</p>
                                <div><select aria-required="true" style=" width:280px;text-align: left;" type="text"
                                        id="typereq" class="form-control col-90">
                                        <option>Sửa chữa</option>
                                        <option>Dịch vụ</option>
                                    </select></div>
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Mức độ</p>
                                <div><select aria-required="true" id="levereq" style="width: 100px;" type="text"
                                        class="form-control col-90">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Ngày hoàn thành</p>
                                <input class="col-90 form-control" type="date" id="timeendreq" name="birthday"
                                    style="width: 280px;margin-left: 0px;">
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Nội dung</p>
                                <textarea aria-required="true"
                                    style=" width:1010px; min-height: 100px;text-align: center; margin: auto; margin-top: 26px;margin-left: 0px;"
                                    type="text" id="contentreq" class="form-control col-90"> </textarea>
                                <p class="modal-title col-10"
                                    style="color: #7c4abe;font-weight: bold; margin-left: 50px;">Địa điểm</p>
                                <input aria-required="true"
                                    style=" width:1010px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 0px;"
                                    type="text" id="placereq" class="form-control col-90">


                                <input aria-required="true"
                                    style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                                    type="text" id="hideeq" class="form-control col-90">
                                <input aria-required="true"
                                    style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                                    type="text" id="hidedate" class="form-control col-90">
                                <input aria-required="true"
                                    style="display: none; width:400px; min-height: 10px;text-align: center; margin: auto; margin-top: 26px;margin-left: 10px;"
                                    type="text" id="hidecycle" class="form-control col-90">
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 20px; width: 98%;margin-left: 10px;">
                    <button class="btn" id="btdistri" style="float: right;margin-top: 0px;"><i
                            class="fa fa-calendar-plus-o"></i> Giao việc</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    </main>
    <%- include('./scripts/work/workScript'); %>
</body>

</html>