<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include ('layout/header'); %>
    <!-- <%-include ('./styles/work/workCss');%> -->
</head>

<body onload="loaddata()" class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <%-include ('dashboard/nav');%>
      <%-include ('dashboard/sidebar');%>
        <div class="content-wrapper">
          <div class="row">
            <div class="col-2">
              <%-include ('./components/work/miniMenuWork');%>
            </div>
            <div class="col-10">
              <div class="row">
                <div>
                  <%-include ('./components/work/search');%>
                </div>
                <div class="">
                  <%-include ('./components/work/table'); %>
                </div>
              </div>
            </div>
          </div>
          <%-include ('./components/work/workRequest'); %>
          <%-include ('./components/work/workInfomation');%>
          <%-include ('dashboard/footer');%>
        </div>
  </div>
  <%-include ('layout/script');%>
    <%-include('./scripts/work/workScript'); %>
</body>

</html>